.section-about {
  padding-top: 125px;
  padding-bottom: 97px;
  background-color: #fff5f6;
}

.container {
  padding-left: 20px;
  padding-right: 20px;
}

.section-about__prehederText {
  font-family: Titan One;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  text-transform: uppercase;
  text-align: center;
  color: #ffa5ba;
}
.section-about__hederText {
  font-family: Titan One;
  font-weight: 400;
  font-size: 34px;
  line-height: 39px;
  text-align: center;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  color: #d41443;
}

.section-about__afterhederText{
  font-family: DM Sans;
  font-weight: 500;
  font-size: 12px;
  line-height: 162%;
}

.section-about__afterhederText2{
  font-family: DM Sans;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 162%;
  color: #907E82;
}
