.container-gallery {
    display: flex;
    justify-content: center;
    max-width: 320px;
    padding-left: 0;
    margin: 0;
    overflow:hidden;
    background-image:linear-gradient(
    to bottom,
    #FFF5F6 35%, #fff);

    background-size: 100%;
    background-repeat: no-repeat;
    
    @media screen and (min-width:480px) {
        max-width: 480px;
     
      }
        @media screen and (min-width:768px) {
        max-width: 768px; 
      }
  
         @media screen and (min-width:1200px) {
        max-width: 1200px;
     
      }
}

.gallery-set {
    display:block;
    width:100%;
    overflow: hidden;

    @media screen and (min-width:480px) {
        max-width: 364px;
     
      }
        @media screen and (min-width:768px) {
      max-width:768px;

      }
  
         @media screen and (min-width:1200px) {
        max-width: 1200px;
     
      }
}