.products {
    width: 100%;
    // padding-top: 121px;
    // padding-bottom: 98px;
}
.products__item {
    display: block;
    &:not(:last-child) {
        margin-bottom: 130px;
    }
}

.products__box {
    max-width: 480px;
    height: 485px;
    border-radius: 24px;
    padding-left: 40px;
    padding-right: 40px;
    padding-top: 161px;
    padding-bottom: 111px;
}

.first-box {
    position: relative;
    background: #FFB8CA;

    &::before {
        content: "";
        position: absolute;
        display: flex;
        width: 249px;
        height: 252px;
        background-image: url("../images/products/ice1-480.png");
        background-size: 100%;
        background-repeat: no-repeat;
        background-position: center;
        top: -23.5%;
        // left: 25%;
        // right: 25%;
       

        @media (min-device-pixel-ratio: 2),
        (min-resolution: 192dpi),
        (min-resolution: 2dppx) {
        background-image: url("../images/products/ice1-480-2x.png");
        }

        @media screen and (min-width: 768px) {
        width: 220px;
        height: 233px;
        background-image: url("../images/products/ice1-768.png");

            @media (min-device-pixel-ratio: 2),
            (min-resolution: 192dpi),
            (min-resolution: 2dppx) {
            background-image: url("../images/products/ice1-768-2x.png");
            }
        }

        @media screen and (min-width: 1280px) {
        width: 325px;
        height: 325px;
        background-image: url("../images/products/ice1-1280.png");

            @media (min-device-pixel-ratio: 2),
            (min-resolution: 192dpi),
            (min-resolution: 2dppx) {
            background-image: url("../images/products/ice1-1280-2x.png");
            }
        }
    }
}

.second-box {
    position: relative;
    background: #F0D1A5;

    &::before {
        content: "";
        position: absolute;
        width: 249px;
        height: 252px;
        background-image: url("../images/products/ice2-480.png");
        background-size: 100%;
        background-repeat: no-repeat;
        background-position: center;
        top: -113px;
        left: 16px;

        @media (min-device-pixel-ratio: 2),
        (min-resolution: 192dpi),
        (min-resolution: 2dppx) {
        background-image: url("../images/products/ice2-480-2x.png");
        }
        
        @media screen and (min-width: 768px) {
        width: 220px;
        height: 233px;
        background-image: url("../images/products/ice2-768.png");

            @media (min-device-pixel-ratio: 2),
            (min-resolution: 192dpi),
            (min-resolution: 2dppx) {
            background-image: url("../images/products/ice2-768-2x.png");
            }
        }

        @media screen and (min-width: 1280px) {
        width: 325px;
        height: 325px;
        background-image: url("../images/products/ice2-1280.png");

            @media (min-device-pixel-ratio: 2),
            (min-resolution: 192dpi),
            (min-resolution: 2dppx) {
            background-image: url("../images/products/ice2-1280-2x.png");
            }
        }
    }
}

.third-box {
    position: relative;
    background: #C2E297;

    &::before {
        content: "";
        position: absolute;
        width: 249px;
        height: 252px;
        background-image: url("../images/products/ice3-480.png");
        background-size: 100%;
        background-repeat: no-repeat;
        background-position: center;
        top: -113px;
        left: 16px;

        @media (min-device-pixel-ratio: 2),
        (min-resolution: 192dpi),
        (min-resolution: 2dppx) {
        background-image: url("../images/products/ice3-480-2x.png");
        }

        @media screen and (min-width: 768px) {
        width: 220px;
        height: 233px;
        background-image: url("../images/products/ice3-768.png");

            @media (min-device-pixel-ratio: 2),
            (min-resolution: 192dpi),
            (min-resolution: 2dppx) {
            background-image: url("../images/products/ice3-768-2x.png");
            }
        }

        @media screen and (min-width: 1280px) {
        width: 325px;
        height: 325px;
        background-image: url("../images/products/ice3-1280.png");

            @media (min-device-pixel-ratio: 2),
            (min-resolution: 192dpi),
            (min-resolution: 2dppx) {
            background-image: url("../images/products/ice3-1280-2x.png");
            }
        }
    }
}



.products__label {
    font-family: Titan One;
    font-style: normal;
    font-weight: normal;
    margin-bottom: 15px;
    font-size: 18px;
    line-height: 1.16;
    text-align: center;
    text-transform: uppercase;
    color: #FFA5BA;
}

.products__title {
    font-family: Titan One;
    font-style: normal;
    font-weight: normal;
    margin-bottom: 144px;
    font-size: 34px;
    line-height: 1.14;
    text-align: center;
    letter-spacing: 0.04em;
    text-transform: uppercase;
    color: #D41443;
}

.products__name {
    position: relative;
    display: block;
    font-family: Titan One;
    font-style: normal;
    font-weight: normal;
    margin-bottom: 66px;
    font-size: 20px;
    line-height: 1.15;
    text-align: center;
    letter-spacing: 0.04em;
    text-transform: uppercase;
    color: #ffffff;

    &::after {
        content: "";
        position: absolute;
        width: 26px;
        height: 6px;
        background-image: url("../images/products/dots.png");
        background-size: 100%;
        background-color: inherit;
        background-repeat: no-repeat;
        right: 88px;
        bottom: -37px;
    }
}

.products__slider {
    width: 200px;
    height: 124px;
}

.products__text {
    font-family: DM Sans;
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 152%;
    text-align: center;
    letter-spacing: 0.04em;
    color: #ffffff;
    
}
