<section class="section-about" id="about">
    <div class="container">
        <p class="section-about__prehederText">tradition and love</p>
        <h2 class="section-about__hederText">how it's made?</h2>
        <div class="wrapper">
            <picture >
                <source srcset="
                    ./images/how-its-made-cow-desk-1x.png 1x,
                    ./images/how-its-made-cow-desk-2x.png 2x" media="(min-width: 1200px)">
                <source srcset="
                    ./images/how-its-made-cow-tab-1x.png 1x,
                    ./images/how-its-made-cow-desk-2x.png 2x" media="(min-width: 768px)">
                <source srcset="
                    ./images/how-its-made-cow-mob-1x.png 1x,
                    ./images/how-its-made-cow-mob-2x.png 2x" media="(min-width: 320px)">
                <img src="./images/how-its-made-cow-mob-1x.png" alt="Cow" class="section-about__image">
            </picture>   
            <div class="wrapper-text">
                <p class="section-about__afterhederText">Fusce ut velit laoreet, tempus arcu eu, molestie tortor. Nam vel justo cursus, faucibus lorem eget, egestas eros.
                Maecenas eleifend erat at justo fringilla.</p>             
                <p class="section-about__afterhederText2 ">Curabitur lacinia enim at ex blandit, vel pellentesque odio elementum. Mauris rhoncus orci in imperdiet placerat.
                Vestibulum euismod nisl suscipit ligula volutpat, a feugiat urna maximus. Cras massa nibh, tincidunt.
                </p>
                <p class="section-about__afterhederText2 section-about__afterhederText3">Aliquam erat volutpat. Aenean accumsan.</p>
                <button type="button" aria-label="Read more" class="section-about__btn" >
                    Read more
                    <svg width="10" height="10"  class="section-about__btn-svg">
                        <use href="./images/symbol-defs.svg#Vector"></use>                   
                    </svg>
                </button>
            </div> 
        </div>   
        <ul class="section-about__list">
            <li class="section-about__item">
                <span class="section-about__itemImg section-about__itemImg--first"></span>
                <p class="section-about__itemNumber ">729</p>
                <p class="section-about__itemText">Aliquam ac dui vel dui vulputate consectetur. Mauris massa.</p>
            </li>
            <li class="section-about__item">
                <span class="section-about__itemImg section-about__itemImg--second"></span>
                <p class="section-about__itemNumber ">16kg</p>
                <p class="section-about__itemText">Aliquam ac dui vel dui vulputate consectetur. Mauris massa.</p>
            </li>
            <li class="section-about__item">
                <span class="section-about__itemImg section-about__itemImg--third"></span>
                <p class="section-about__itemNumber ">84</p>
                <p class="section-about__itemText">Aliquam ac dui vel dui vulputate consectetur. Mauris massa.</p>
            </li>
        </ul>
    </div>
</section>