<section class="section-about" id="about">
    <div class="container">
        <p class="section-about__prehederText">tradition and love</p>
        <h2 class="section-about__hederText">how it’s made?</h2>
        <img 
            srcset="
            images/how-its-made-cow-mob-1x.png 1x,
            images/how-its-made-cow-mob-2x.png 2x"
            src="images/how-its-made-cow-mob-1x.png" alt="" class="section-about__image">
        <div class="wrapper-text">            
            <p class="section-about__afterhederText">Fusce ut velit laoreet, tempus arcu eu, molestie tortor. Nam vel justo cursus, faucibus lorem eget, egestas eros.
            Maecenas eleifend erat at justo fringilla.</p>
            <p class="section-about__afterhederText2">Curabitur lacinia enim at ex blandit, vel pellentesque odio elementum. Mauris rhoncus orci in imperdiet placerat.
            Vestibulum euismod nisl suscipit ligula volutpat, a feugiat urna maximus. Cras massa nibh, tincidunt.
            Aliquam erat volutpat. Aenean accumsan.</p>
            <button type="button" aria-label="Read more" class="section-about__btn" >
                Read more
                <svg width="10" height="10">
                    <use href=""></use>
                </svg>
            </button>
        </div>
        <ul class="section-about__list">
            <li class="section-about__item">
                <p class="section-about__itemNumber"></p>
                <p class="section-about__itemText"></p>
            </li>
            <li class="section-about__item">
                <p class="section-about__itemNumber"></p>
                <p class="section-about__itemText"></p>
            </li>
            <li class="section-about__item">
                <p class="section-about__itemNumber"></p>
                <p class="section-about__itemText"></p>
            </li>
        </ul>
    </div>
</section>