
<div id="contacts" class="container__contacts" id="contacts">
    <ul class="contacts__list">
        <li class="contacts__item">
            <div class="contacts__column">
            <p class="contacts__title">CAFE</p>
            <p class="contacts__pre-title">Chicago</p>
            <p class="contacts__text">Fusce ut velit laoreet, tempus arcu molestie vulputate</p>
            <ul class="working-days__list">
                <li class="working-days__item"> 
                    <p class="working-days__title">Monday - Friday</p>
                    <p class="working-days__pre-title working-days__pre-title-ind">06:00 AM - 10:00 PM</p>
                </li>
                <li class="working-days__item">
                    <p class="working-days__title">Saturday - Sunday</p>
                    <p class="working-days__pre-title">08:00 AM - 16:00 PM</p>
                </li>
            
            </ul>
                <a class="contacts__tel" href="tel:+61(0) 383 766 284">+61(0) 383 766 284</a>
                <a class="contacts__mail" href="mailto:noreply@envato.com">noreply@envato.com</a> 
            </div>
            </li>
        <li class="contacts__item">
            <div class="contacts__column">
            <p class="contacts__title contacts__title-green">FOOD TRUCK</p>
            <p class="contacts__pre-title">Los Angeles</p>
            <p class="contacts__text">Fusce ut velit laoreet, tempus arcu molestie vulputate</p>
            <ul class="working-days__list">
                <li class="working-days__item">
                    <p class="working-days__title">Monday - Friday</p>
                    <p class="working-days__pre-title working-days__pre-title-ind">06:00 AM - 10:00 PM</p>
                </li>
                <li class="working-days__item"> 
                    <p class="working-days__title">Saturday - Sunday</p>
                    <p class="working-days__pre-title working-days__pre-title-ind">08:00 AM - 16:00 PM</p>
                </li>
             </ul>
                <a class="contacts__tel" href="tel:+61(0) 383 766 284">+61(0) 383 766 284</a>
                <a class="contacts__mail" href="mailto:noreply@envato.com">noreply@envato.com</a> 
            </div>
        </li>
        <li class="contacts__item">
            <div class="contacts__column">
            <p class="contacts__title">CAFE</p>
            <p class="contacts__pre-title">New York</p>
            <p class="contacts__text">Fusce ut velit laoreet, tempus arcu molestie vulputate</p>
            <ul class="working-days__list">
                <li class="working-days__item">
                    <p class="working-days__title">Monday - Friday</p>
                    <p class="working-days__pre-title working-days__pre-title-ind">06:00 AM - 10:00 PM</p>
                </li>
                <li class="working-days__item">
                    <p class="working-days__title">Saturday - Sunday</p>
                    <p class="working-days__pre-title">08:00 AM - 16:00 PM</p>
                </li>
            </ul>
                <a class="contacts__tel" href="tel:+61(0) 383 766 284">+61(0) 383 766 284</a>
                <a class="contacts__mail" href="mailto:noreply@envato.com">noreply@envato.com</a> 
            </div>
            </li>
            </ul>
    <ul class="button__list">
        <li class="button__item-red" data-modal-contacts-open>
            <button  class="button-red" type="button">Our Locations<svg class="button__icon" width="10" height="10" > 
                <use  href="/images/symbol-defs.svg#VectorWhite"></use> 
        </svg></button>
        </li>
        <li class="button__item">
            <button class="button" type="button"> Franchise<svg class="button__icon" width="10" height="10" > 
                <use href="/images/symbol-defs.svg#Vector"></use> 
        </svg> </button>
        </li>
    </ul>
</div>
<div class="contact__modal is-hidden" data-contacts-backdrop>
    <div class="modal__content" >
        <button class="modal__button-close" data-modal-contacts-close>
            <svg class="modal__button-icon" width="15" height="15">
                <use href="/images/symbol-defs.svg#closemodal"></use></svg></button>
      <h1 class="modal__title"></h1>
    </div>
  </div>
