<div class="container">
    <ul class="contacts__list">
        <li class="contacts__item">
            <p class="contacts__title">CAFE</p>
            <p class="contacts__pre-title">Chicago</p>
            <p class="contacts__text">Fusce ut velit laoreet, tempus arcu molestie vulputate</p>
            <ul class="working-days__list">
                <li class="working-days__item"> 
                    <p class="working-days__title">Monday - Friday</p>
                    <p class="working-days__pre-title">06:00 AM - 10:00 PM</p>
                </li>
                <li class="working-days__item">
                    <p class="working-days__title">Saturday - Sunday</p>
                    <p class="working-days__pre-title">08:00 AM - 16:00 PM</p>
                </li>
                <a class="contacts__tel" href="tel:+61(0) 383 766 284"></a>
                <a class="contacts__mail" href="mailto:noreply@envato.com"></a> 
            </ul>
        </li>
        <li class="contacts__item">
            <p class="contacts__title">FOOD TRUCK</p>
            <p class="contacts__pre-title">Los Angeles</p>
            <p class="contacts__text">Fusce ut velit laoreet, tempus arcu molestie vulputate</p>
            <ul class="working-days__list">
                <li class="working-days__item">
                    <p class="working-days__title">Monday - Friday</p>
                    <p class="working-days__pre-title">06:00 AM - 10:00 PM</p>
                </li>
                <li class="working-days__item"> 
                    <p class="working-days__title">Saturday - Sunday</p>
                    <p class="working-days__pre-title">08:00 AM - 16:00 PM</p>
                </li>
                <a class="contacts__tel" href="tel:+61(0) 383 766 284"></a>
                <a class="contacts__mail" href="mailto:noreply@envato.com"></a> 
            </ul>
        </li>
        <li class="contacts__item">
            <p class="contacts__title">CAFE</p>
            <p class="contacts__pre-title">New York</p>
            <p class="contacts__text">Fusce ut velit laoreet, tempus arcu molestie vulputate</p>
            <ul class="working-days__list">
                <li class="working-days__item">
                    <p class="working-days__title">Monday - Friday</p>
                    <p class="working-days__pre-title">06:00 AM - 10:00 PM</p>
                </li>
                <li>
                    <p class="working-days__title">Saturday - Sunday</p>
                    <p class="working-days__pre-title">08:00 AM - 16:00 PM</p>
                </li>
                <a class="contacts__tel" href="tel:+61(0) 383 766 284"></a>
                <a class="contacts__mail" href="mailto:noreply@envato.com"></a> 
            </ul>
        </li>
    </ul>
    <ul class="button__list">
        <li class="button__item-red">
            <button class="button-red" type="button">Our Locations</button>
        </li>
        <li class="button__item">
            <button class="button" type="button">Franchise</button>
        </li>
    </ul>
</div>