
<section class="reviews-section">
    <div class="container">
        <h2 is hidden>Customer reviews</h2>
        <picture class="reviews-section__photo">
            <sourse
            srcset="./images/customer-reviews/customer-1.jpg 1x,
            ./images/customer-reviews/customer-1-2x.jpg 2x
            ">
            <img src="./images/customer-reviews/customer-1.jpg" alt="Customer-1">
        </picture>
        <div class="review-text-container">
            <p class="reviews-section__review-text">
                Nullam viverra consectetuer. Quisque cursus et, porttitor risus. Aliquam sem. In hendrerit nulla quam nunc, accumsan congue. Lorem ipsum primis in nibh vel risus.
            </p>
         </div>
        <p class="reviews-section__clients-name">Emily, Los Angeles</p>
    </div>
</section>
