<div>
  <p>homemade ice cream made</p>
  <p>with passion</p>
</div>
<ul class="">
  <li class="">
    <a href="" class="">
      <svg class="" width="32px" height="32px">
        <use href="../src/images/symbol-defs.svg#github""></use>
      </svg>
    </a>
  </li>
  <li class="">
    <a href="" class="">
      <svg class="" width="32px" height="32px">
        <use href="../src/images/symbol-defs.svg#telegram""></use>
      </svg>
    </a>
  </li>
  <li class="">
    <a href="" class="">
      <svg class="" width="32px" height="32px">
        <use href="../src/images/symbol-defs.svg#facebook"></use>
      </svg>
    </a>
  </li>
</ul>
<div>
  <p>Feel free to contact<span>+61 (0) 383 766 284</span></p>
</div>
<div>&#169; 2022 - IceCream. All Rights Reserved.</div>
