<div class="container">
    <h2></h2>
    <picture>
        <source
        scrset="./images/gallery/gallery-set-desktop.jpg
        scrset="./images/gallery/gallery-set-desktop.jpg 1x,
                ./images/gallery/gallery-set-desktop2x.jpg 2x"
        media="(min-width:1200px)"
        >
        <source
        scrset="./images/gallery/gallery-set-tablet.jpg 1x,
                ./images/gallery/gallety-set-tablet2x.jpg 2x"
        media="(min-width:768px)"
        >
        <source
        scrset="./images/gallery/gallery-set-mob.jpg 1x,
                ./images/gallery/gallery-set-mob2x.jpg 2x"
        media="(min-width:320px)"
        >
        <img class="" 
        src="./images/gallery/gallery-set-desktop.jpg" 
        alt="Pictures-of-products">
         </picture>
</div>