<article class="hero-header">
    <div class="hero-header__container container--position">


    <div class="header">

        <div class="header__logo-icon-text">
            <div class="header__logo-icon">
                <svg class="header__logo" width="50" height="50">
                    <use href="images/hero-header/icons.svg#icon-logo-1-new"></use>
                </svg>
            </div>     
            <p class="header__logo-text">ICECREAM</p>
        </div>
        <div class="heder-open-menu-btn-position">
<button type="button" class="heder-open-menu-btn " aria-expanded="false" aria-controls="mobile-menu">
    <svg class="open-menu-btn__svg" width="20" height="12">
        <use href="images/hero-header/icons.svg#icon-burger"></use>
    </svg>
</button>
</div>
<div class="header__modal-btn-position">
<button class="header__modal-btn" type="button">Buy now 
    <svg class="header__modal-btn-svg" width="7" height="9">
        <use href="images/hero-header/icons.svg#icon-vector-1"></use>
    </svg></button>
</div>
</div>

<div class="circle"></div>
<div class="ice-cream">
    <picture>
        <source srcset="images/hero-header/ice-cream.png  1x, 
         images/hero-header/ice-cream-2x.png 2x"
            media="(min-width: 1280px)">
        <source srcset="images/hero-header/ice-cream-tab.png  1x, 
                    images/hero-header/ice-cream-tab-2x.png 2x"
            media="(min-width: 768px)">
        <source srcset="images/hero-header/ice-cream-mob.png 1x,
                     images/hero-header/ice-cream-mob-2x.png 2x"
            media="(min-width: 320px)">
        <img src="images/hero-header/ice-cream-2x.png" alt="мороженное"/>
    </picture>
</div>
<div class="title-position">
    <h1 class="hero__title">
        <span class="hero__title--white">ice cream made with</span>
       <span class="hero__title--red">passion</span>
    </h1>
    <ul class="hero-list list">
        <li class="hero__item">
            <a class="hero__link hero__link--color-red link" href="">Products</a>
        </li>
        <li class="hero__item">
            <a class="hero__link hero__link--color-white link" href="">How it’s made?</a>
        </li>
    </ul>
</div>
<div class="bio-eco">
<picture>
    <source srcset="images/hero-header/bio-eco-min.png  1x, 
             images/hero-header/bio-eco-2x-min.png 2x" media="(min-width: 1280px)">
    <source srcset="images/hero-header/bio-eco-tab-min.png 1x, 
                    images/hero-header/bio-eco-tab-2x-min.png 2x" media="(min-width: 768px)">
    <img src="images/hero-header/bio-eco-2x-min.png" alt="кувшин с молоком" />
</picture>
</div>
<div class="girl-hero">
    <picture>
        <source srcset="images/hero-header/girl-hero-min.png  1x, 
                 images/hero-header/girl-hero-2x-min.png 2x" media="(min-width: 1280px)">
        <source srcset="images/hero-header/girl-hero-tab-min.png 1x, 
                        images/hero-header/girl-hero-tab-2x-min.png 2x" media="(min-width: 768px)">
        <img src="images/hero-header/girl-hero-2x-min.png" alt="девушка с мороженным" />
    </picture>
</div>
<div class="hero-text-position">
<p class="hero-text">  
    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et
</p>
</div>
<div class="arrow-right">
    <picture>
        <source srcset="images/hero-header/arrow-right-min.png  1x, 
                     images/hero-header/arrow-right-2x-min.png 2x" media="(min-width: 1280px)">
        <source srcset="images/hero-header/arrow-right-tab-min.png 1x, 
                            images/hero-header/arrow-right-tab-2x-min.png 2x" media="(min-width: 768px)">
        <img src="images/hero-header/arrow-right-2x-min.png" alt="стрелка вправо"/>
    </picture>
</div>
<div>
    <ul class="figures">
        <li class="sixteen ">
            <div class="sixteen-position">
           <div class="sixteen-figure-position"><span class="sixteen-figure">16</span></div>
            <div class="small-circle"></div>
           <div class="sixteen-text-position"><p class="figure-text">cafes</p></div>
            </div>
           
        </li>
        <li class="twenty-three ">
            <div class="twenty-three-position">
                <div class="twenty-three-figure-position"><span class="sixteen-figure">23</span></div>
                <div class="small-circle"></div>
                <div class="twenty-three-text-position">
                    <p class="figure-text">food trucks</p>
                </div>
            </div>
        
        </li>
    </ul>
</div>
    </div>
</article>