<article class="hero-header">
    <div class="hero-header__container container--position">


    <div class="header">

        <div class="header__logo-icon-text">
            <div class="header__logo-icon">
                <svg class="header__logo" width="50" height="50">
                    <use href="images/hero-header/icons.svg#icon-logo-1-new"></use>
                </svg>
            </div>
            <p class="header__logo-text">ICECREAM</p>
        </div>
<button type="button" class="heder-open-menu-btn " aria-expanded="false" aria-controls="mobile-menu">
    <svg class="open-menu-btn__svg" width="20" height="12">
        <use href="images/hero-header/icons.svg#icon-burger"></use>
    </svg>
</button>

</div>

<div class="circle"></div>
<div class="ice-cream">
    <picture>
        <source srcset="images/hero-header/ice-cream.png  1x, 
         images/hero-header/ice-cream-2x.png 2x"
            media="(min-width: 1280px)">
        <source srcset="images/hero-header/ice-cream-tab.png  1x, 
                    images/hero-header/ice-cream-tab-2x.png 2x"
            media="(min-width: 768px)">
        <source srcset="images/hero-header/ice-cream-mob.png 1x,
                     images/hero-header/ice-cream-mob-2x.png 2x"
            media="(min-width: 320px)">
        <img src="images/hero-header/ice-cream-2x.png" alt="мороженное"/>
    </picture>
</div>
<div class="title-position">
    <h1 class="hero__title">
        <span class="hero__title--white">ice cream made with</span>
       <span class="hero__title--red">passion</span>
    </h1>
    <ul class="hero-list list">
        <li class="hero__item">
            <a class="hero__link hero__link--color-red link" href="">Products</a>
        </li>
        <li class="hero__item">
            <a class="hero__link hero__link--color-white link" href="">How it’s made?</a>
        </li>
    </ul>
</div>
    </div>
</article>